/* 
===========================
JASON.R - Styles
===========================
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --bodyFontH: "Roboto", sans-serif;
  --bodyFontP: "Outfit", sans-serif;

  /* =====Primary====== */

  --primary-050: #f8f8f8;
  --primary-100: #f0f0f0;
  --primary-200: #d1d1d1;
  --primary-300: #d1d1d1;
  --primary-400: #b4b4b4;
  --primary-500: #9a9a9a;
  --primary-600: #818181;
  --primary-700: #6a6a6a;
  --primary-800: #5a5a5a;
  --primary-900: #4e4e4e;
  --primary-950: #282828;

  /* =====Secondary====== */
  --secondary-050: #f3faf5;
  --secondary-100: #e4f4e8;
  --secondary-200: #cae8d3;
  --secondary-300: #b3dec1;
  --secondary-400: #6eba87;
  --secondary-500: #4a9d65;
  --secondary-600: #388150;
  --secondary-700: #2f6642;
  --secondary-800: #295238;
  --secondary-900: #23442f;
  --secondary-950: #23442f;

  /* =====grey====== */
  --grey-050: hsl(204, 26%, 96%);
  --grey-100: hsl(207, 22%, 90%);
  --grey-200: hsl(211, 23%, 82%);
  --grey-300: hsl(208, 23%, 69%);
  --grey-400: hsl(210, 22%, 49%);
  --grey-500: hsl(211, 24%, 43%);
  --grey-600: hsl(213, 23%, 36%);
  --grey-700: hsl(216, 20%, 31%);
  --grey-800: hsl(217, 17%, 27%);
  --grey-900: hsl(218, 16%, 24%);
  --grey-950: hsl(221, 21%, 15%);

  /* =====Color====== */
  --black: #222;
  --white: #fff;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --red-light: #f8d7da;
  --red-dark: #842029;

  /* =====rest of vars===== */
  --backgroundColor: var(--grey-050);
  --textColor: #8a8a8a;
  --border-radius: 0.3rem;
  --letter-spacing: 0.05em;
  --transition: all 0.3s ease-in-out;
  --view-width: 90vw;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* =====fonts===== */
  --smallText: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);

  /* =====shadow===== */
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/*
  ==============
  FONT FLUID
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  ===============
*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-weight: 400;
  line-height: 1.5;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

p {
  margin-bottom: 1.5rem;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  font-family: var(--bodyFontP);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--bodyFontH);
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

h2 {
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

h3 {
  font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
}

h4 {
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}

h5 {
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
}

small,
.text-small {
  font-size: var(--smallText);
}

.text {
  max-width: 40em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--textColor);
  border: 1px solid rgba(45, 45, 45, 1);
  background-color: rgb(20, 20, 20);
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.btn:hover {
  transform: scale(0.95);
}

.btn-hipster {
  color: var(--primary-700);
  background-color: var(--primary-200);
}

.btn-hipster:hover {
  color: var(--primary-200);
  background-color: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* Alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: var(--border-radius);
}

.alert-danger {
  color: var(--red-dark);
  background-color: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background-color: var(--green-light);
}

/* form */
.form {
  width: var(--view-width);
  max-width: var(--fixed-width);
  background-color: var(--white);
  margin: 3rem auto;
  padding: 2rem 2.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.row {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
}

/* spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  border: 5px solid var(--grey-300);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spin 1s linear infinite;
}

/* section */
.section {
  padding: 5rem 0;
}

/* titre */
.title {
  text-align: center;
}
.title-underline {
  width: 7rem;
  height: 0.25rem;
  background-color: var(--primary-500);
  margin: 0 auto;
}

/* background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(74, 157, 101, 0.2)),
    url(./images/background.jpg) no-repeat center/cover fixed;
  min-height: 100vh; */
.body {
  background: url(./images/background.jpg) no-repeat center/cover fixed;
  min-height: 100vh;
}

/*============== header================================ */
.navbar {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid rgb(45, 45, 45);
}

/* mail */
.navbar .mail {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
}
.mail .mailbutton {
  border-style: none;
  color: var(--primary-400);
  font-weight: 200;
  font-size: 1.2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid rgba(45, 45, 45, 1);
  background-color: rgb(20, 20, 20);
  margin-right: 1rem;
}
.navbar .mail span {
  color: var(--textColor);
  font-family: var(--bodyFontP);
  font-size: 1rem;
  font-weight: 200;
}

/* reseaux grand ecran*/
.navbar .reseaux-1 {
  justify-self: end;
}
.reseaux-1 a {
  color: var(--textColor);
  font-family: var(--bodyFontP);
  font-size: 1rem;
  font-weight: 400;
}
/* reseaux petit ecrans */
.reseaux-1 .slash {
  margin: 0rem 0.3rem;
  transform: scaleX(-1);
}
@media screen and (min-width: 768px) {
  .reseaux-2 {
    display: none;
  }
}

.navbar .reseaux-2 {
  justify-self: end;
}
.navbar .reseaux-2 i {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  color: var(--textColor);
}

@media screen and (max-width: 768px) {
  .reseaux-1 {
    display: none;
  }
  .navbar {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    align-items: center;
  }
}

/* ====================hero==================== */
.hero {
  min-height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: var(--max-width);
  margin-inline: auto;
}
.hero .hero-img {
  display: flex;
  flex-direction: column;
}
.hero .hero-img span {
  text-align: center;
}

.hero .hero-img img {
  width: 13rem;
}
.hero .hero-img span {
  font-size: 1rem;
  font-family: var(--bodyFontP);
  letter-spacing: var(--letter-spacing);
  margin: 1rem 0;
}

.hero .hero-text {
  text-align: center;
}
.hero .hero-text h1 {
  text-align: center;
  font-family: var(--bodyFontP);
  background: linear-gradient(
    90deg,
    rgba(138, 138, 138, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.hero .btn {
  padding: 1.5rem 3rem;
  margin-block: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--bodyFontP);
  letter-spacing: var(--letter-spacing);
}

/*================== exploration============== */
.exploration {
  min-height: 100vh;
}
/* design */
.exploration .design {
  margin-inline: auto;
  width: var(--view-width);
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.design .design-text {
}
.design .design-img {
  background: url(./images/design.jpg);
  height: 20rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

/* domain */
.exploration .domaine {
  margin-inline: auto;
  width: var(--view-width);
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.domaine .domaine-img {
  background: url(./images/maquette.jpg);
  height: 20rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.domaine .domaine-text {
}
